.table.table-striped.table-hover{
    margin-top: 80px;
}

.epp{
    margin-left: 15px;
}
.tn-table-table-bordered{
    margin-right: 10px;
}

.Das{
    margin-left: 15px;
    margin-right: 76%;
}

.AddEpp{
    
    margin-left: 73%;
}
.btn.btn-primary.tg{
    margin-right: 7px;
}

.tb-table-table{
    margin-left: 70px;
}

.btn1{
    margin-left: 140px;
    color: wheat;
}

.btn2{
    margin-left: 140px;
}

.btn3{
    margin-left: 140px;
}

.input-group{
    margin-left: 77%;
}
/* .input-group1{
    margin-right: 79%;
} */

.form{
    margin-right: 43%;
}

.input-group.a{
    margin-right: 40px;
}
.input-group-mb-3{
    margin-left: px;
}
.peginetion{
    margin-right: 190px;
}
.sel{
    margin-left: -40px;
}
#entrybox{
    margin-right: -230px;
}